  body {
      background: linear-gradient(135deg, #f9f9f9, #ffe9d6);
      font-family: "Poppins", sans-serif;
      color: #333;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  
    .todo-container {
    
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        padding: 40px;
      width: 1000px;
      max-width: 90%;
    }
    
    
    .input-group{
     position: sticky;
     top: 6%;
     background: white; 
     z-index: 10;
      overflow-y: auto;
      flex-grow: 1;
    }
    

    h2 {
      position: sticky;
  top: 0;                    
  z-index: 20;
  
 
  background: white;         
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);

      text-align: center;
      margin-bottom: 20px;
      color: #ff8c42;
    }

    .input-group input {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .btn-add{
      background: #ff8c42;
      color: white;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .btn-add:hover{
      background: #ff6b00;
    }
    #cleartask{
      background: #ff8c42;
      color: white;
      border: none;
      border-radius: 10PX;
      position: absolute;
      left: 40%;
    }
    #cleartask:hover{
      font-size: large;
    }
 

.noty_theme__metroui.noty_bar .noty_body {
	background: green;
	color: white;
	border-radius: 0.28571429rem;
	box-shadow: 0 0 0 1px green inset, 0 0 0 0 transparent;
}
.noty_theme__metroui.noty_type__error {
	background: none;
}
.noty_theme__metroui.noty_bar.noty_type__error .noty_body {
	background: red;
	color: white;
	border-radius: 0.28571429rem !important;
	box-shadow: 0 0 0 1px red inset, 0 0 0 0 transparent;
}
#edit-modal,#remove-modal,#clear-all-tasks-modal{
 position: absolute;
 top: 20%;
 left: 20%;
  width: auto;
  height: auto;
  border-radius: 20px;
}


   